## 문자열 관련 함수 알아보기

### 문자열에 있는 특정 문자 갯수 세기 (count 함수)

* 간단 연습: string에 내가 원하는 문자/만자열은 는 몇 번 나올까?

In [1]:
data = 'kimseungkyu will be the most influential person in IT industry'
data.count(' ')

9

### 문자열에 있는 특정 문자의 위치 알려주기 
### index 함수

* 간단 연습: string에 있는 ___ 의 위치 확인하기 (가장 먼저 나오는 위치를 알려줌)
* 간단 연습: string에 ___ 의 위치 확인하기 (해당 문자가 없으면 에러가 남)

In [3]:
data = 'kimseungkyu will be the most influential person in IT industry'
data.index(' ') #가장 처음 문자열을 알려준다.

11

In [4]:
data.index('9')

ValueError: substring not found

### 해당 문자가 문자열에 없을 때, 에러를 안낼 수는 없을까? --> find 함수를 사용하면 됨
* find 함수는 해당 문자가 문자열에 없으면 -1 을 리턴함 (에러는 내지 않음)
* 이외에는 index 함수와 동일

In [5]:
data.find('9')

-1

In [7]:
if data.find('9') == -1:
    print("찾는 정보가 없습니다.")

찾는 정보가 없습니다.

In [13]:
data.find(' will')

11

### 문자열 사이에 다른 문자 넣기

In [19]:
data = 'kimseungkyu will be the most influential person in IT industry'
data_1=','
data_1.join(data)

'k,i,m,s,e,u,n,g,k,y,u, ,w,i,l,l, ,b,e, ,t,h,e, ,m,o,s,t, ,i,n,f,l,u,e,n,t,i,a,l, ,p,e,r,s,o,n, ,i,n, ,I,T, ,i,n,d,u,s,t,r,y'

In [16]:
string = "12345"
comma = ','
comma.join(string)     # 껴넣을 문자.join(문자열)

'1,2,3,4,5'

### 문자열 앞뒤에 공백 지우기
* 실제 현실 세계에 있는 문자열 데이터를 정리하다보면, 문자열 앞뒤에 공백 또는 기호가 있는 경우가 많음

In [20]:
data = " Dave "
data.strip()        # 앞 뒤 공백을 다 지움

'Dave'

In [21]:
string2 = "     David  "
string2.strip()      # 앞 뒤 공백이 여러개 있어도 한번에 다 지움

'David'

In [22]:
string2.lstrip()      # 앞쪽(문자열 왼쪽)만 지우기 left strip 의 약자

'David  '

In [23]:
string2.rstrip()      # 앞쪽(문자열 오른쪽)만 지우기 right strip 의 약자

'     David'

In [ ]:
string = "      9999999999999999(Dave)888888888888888888     "
string.strip(" 98()")        # 앞 뒤 괄호를 다 지움

### 영문자 대소문자로 변환하기
* 대소문자를 구별하기 때문에, 대소문자 구별하지 않고 처리를 하기 위해 임의로 대문자 또는 소문자로 다 바꿀 때가 있음

In [25]:
data.upper()

' DAVE '

In [26]:
data.lower()

' dave '

### 문자열을 나누기. split()함수는 반환을 리스트형태로 해준다

In [20]:
string = "Dave goes to Korea"
string.split()       # split() 인자를 넣지 않으면 디폴트로 스페이스를 기준으로 분리

['Dave', 'goes', 'to', 'Korea']

In [52]:
string = "Dave goes to Korea"
string.split()[3]

'Korea'

In [32]:
string.split(' ')    # 명시적으로 스페이스를 기준으로 분리하겠다고 넣어줘도 됨

['Dave', 'goes', 'to', 'Korea']

In [33]:
string = "Dave/goes/to/Korea"
string.split('/')   # split() 인자를 넣으면 해당 인자를 기준으로 분리

['Dave', 'goes', 'to', 'Korea']

<div class="alert alert-block alert-success">
<strong><font color="blue" size="4em">프로그래밍 연습</font></strong><br>
string = "10,11,22,33,44" 를 컴마(,) 로 분리해서 리스트 변수를 만들어 각 값을 정수형 리스트 데이터로 넣기
</div>
<pre>
int('11') 을 실행하면 숫자 11로 변환
</pre>

In [31]:
string = "10,11,22,33,44"
a = string.split(',')
for index, b in enumerate(a):
    a[index] = int(b)
a

[10, 11, 22, 33, 44]

### 문자열 중 일부를 다른 문자로 바꾸거나, 삭제하기

In [42]:
string = "David goes to Korea"
string.replace("David", "Dave")     # David 를 Dave 로 바꾸기

'Dave goes to Korea'

In [22]:
string2 = "(Dave)"
string2.replace("()", "")           # 연결된 문자열은 해당 문자열이 동일하게 매칭이 되어야 함

'(Dave)'

In [23]:
string2.replace("(", "")

'Dave)'

In [24]:
string2.replace(")", "")

'(Dave'

In [26]:
string2 = string2.replace("(", "")   # ( 가 삭제된 문자열로 변수 값을 덮어 씌운 후에 다시 ) 를 삭제하면 됨
string2.replace(")", "")

'Dave'

In [27]:
string2 = "(Dave)"

string2.replace("(", "").replace(")", "")

'Dave'

<div class="alert alert-block alert-success">
<strong><font color="blue" size="4em">프로그래밍 연습</font></strong><br>
string = "10,11,22,33,44" 에서 컴마(,) 를 / 으로 대체하기
</div>

In [32]:
string.replace(',','/')

'10/11/22/33/44'